// Заголовки, загальні БЕМ блоки та інше...

.page {
  // .page__main

  &__main {
  }
}

//========================================================================================================================================================

.title {
  font-weight: 700;
  font-size: rem(70);
  line-height: math.div(78, 70);
  color: #ffffff;
  @include adaptiveValue("font-size", 70, 45);
  span {
    color: $greenColor;
  }
}

//========================================================================================================================================================

.text {
  font-family: "Spartan";
  font-weight: 400;
  font-size: rem(18);
  line-height: 180%;
  color: #ffffff;
}

//========================================================================================================================================================

.form {
  // .form__input

  &__input {
  }

  // .form__button

  &__button {
  }
}
